// SPDX-License-Identifier: BSD-3-Clause
/*
 * Oneplus 13 "Bootloader" overlay
 *
 * Copyright (c) 2026, Peter Viechter
 */

/dts-v1/;
/plugin/;

&wcd939x {
	status = "disabled";
};

&soundcard {
	status = "disabled";
};

&wcn7850_pmu {
	status = "disabled";
};

&pcie0 {
	status = "disabled";
};

&pcie0_phy {
	status = "disabled";
};

// CDSP has to stay enabled for display to work after kexec
// Leads to timeout otherwise
// (Firmware is not required, just needs to be enabled in dt)
// &remoteproc_cdsp {
// 	status = "disabled";
// };

&remoteproc_mpss {
	status = "disabled";
};

// Iris has to stay enabled for display to work after kexec
// Leads to timeout otherwise
// (Firmware is not required, just needs to be enabled in dt)
// &iris {
// 	status = "disabled";
// };

&ipa {
	status = "disabled";
};

&swr1 {
	status = "disabled";
};

&swr2 {
	status = "disabled";
};

&uart14 {
	status = "disabled";
};

&gic_its {
	// its cannot reallocate on non-EFI systems
	status = "disabled";
};
